.card {
  display: grid;
  gap: var(--md);
  max-width: 400px;
  background-color: var(--bg-surf);
  padding: var(--lg);
  border-radius: var(--sm);

  img {
    width: 100%;
    max-width: 400px;
    max-height: 350px;
    aspect-ratio: 500 / 500;
    object-fit: cover;
  }

  .name {
    position: relative;
    .cart {
      cursor: pointer;
      background-color: transparent;

      position: absolute;
      right: 0;
      top: 0;

      transition: transform 0.2s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
